
body {
    margin: 0;
    background-color: #F5F3F3;
    font-family: 'Baloo Chettan 2', cursive;
}


.nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #2eb9ce;
}

.nav li {
    float:right;
}
.nav li a {
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }

#content {
    padding-left:20px;
    padding-right:20px;
    text-align:center;
}
h3 {
    background-color: #2eb9ce;
}

.head{
    line-height:5px;
}

ul{
    text-align:left;
}
#map{
	height:800px;
	width:100%; 
}
@media only screen and (min-width: 850px){
#content{
    padding-left: 25px;
    text-align:left;
    font-size: 1.2em;
    padding-right: 25px;
    color: green;
}
}